.footer-section {
    height: 10rem;
    background-color: var(--skyblue-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-icons{
    display: flex;
    color: var(--orange-color);
    padding: 1rem;
}

.footer-icon {
    padding: 1rem;
    color: var(--orange_color);
    font-size: 2rem;
}

.footer-text{
    font-size: 1.25rem;
    padding-bottom: 2rem;
    color: var(--text_color);
}
